/* some style */

html, body{
    font-family:"Helvetica", sans-serif;
    background-color: black;
    color:lightgreen;
    }

a{
    text-decoration:none;
    color:lightgreen;
    }

#header{
    color:#ffb349;
    margin: 0px 30px 0px 30px;
    }

#descrip{
    color:#fcea64;
    margin: 0px 30px 0px 30px;
    }

.nonheader{
    color:#d8f0ff;
    }

.carrier{
    color:#f2ffba;
    }

.rmod{
    color:#f5c7f9;
    }

.amod{
    color:#d2baff;
    }

.fmod{
    color:#bacaff;
    }

.notediv{
    margin-top:0px 30px 0px 30px;
    }

#canvas-panel{
    flex-grow: 1;
    }
